<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Edit Post</h2>

<form th:action="@{/post/update}" method="post">

    <input type="hidden"
           name="id"
           th:value="${post.id}">

    Title:
    <input type="text"
           name="title"
           th:value="${post.title}">

    <br><br>

    Content:

    <textarea name="content"
              rows="10"
              cols="50"
              th:text="${post.content}">
    </textarea>

    <br><br>

    <button type="submit">
        Update Post
    </button>

</form>

</body>
</html>