<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>All Blog Posts</h1>
<a href="/logout">Logout</a>
<form action="/search" method="get">

	<input type="text" name="keyword" placeholder="Search by title, author, category or date (YYYY-MM-DD)..."
	       required>

    <button type="submit">
        Search
    </button>

</form>

<br>

<a href="/post/create">
    Create New Post
</a>
<a href="/profile">
    My Profile
</a>

<hr>

<div th:each="post : ${posts}">
	
	<img th:if="${post.imageName != null}" th:src="@{/uploads/{img}(img=${post.imageName})}" width="200">

    <h2 th:text="${post.title}"></h2>

    <p th:text="${post.content}"></p>

	<p>
	    Author :
	    <span th:text="${post.author.username}"></span>
	</p>
	<p>
	    Created:
	    <span th:text="${post.createdAt}">
	    </span>
	</p>

	<p th:if="${post.category != null}">
	    Category :
	    <span th:text="${post.category.name}">
	    </span>
	</p>
		<a th:href="@{/post/{id}(id=${post.id})}">
		    Read More
		</a>
    

    <hr>

</div>
<hr>

<div style="text-align:center; margin-top:20px;">

  

    <a th:if="${isSearch != true and currentPage > 0}"
       th:href="@{/(page=${currentPage-1})}">
        ⬅ Previous
    </a>

    <a th:if="${isSearch == true and currentPage > 0}"
       th:href="@{/search(keyword=${keyword},page=${currentPage-1})}">
        ⬅ Previous
    </a>

    <span th:each="i : ${#numbers.sequence(0,totalPages-1)}">

        <a th:if="${isSearch != true}"
           th:href="@{/(page=${i})}"
           th:text="${i+1}">
        </a>

        <a th:if="${isSearch == true}"
           th:href="@{/search(keyword=${keyword},page=${i})}"
           th:text="${i+1}">
        </a>

    </span>

    <a th:if="${isSearch != true and currentPage < totalPages-1}"
       th:href="@{/(page=${currentPage+1})}">
        Next ➡
    </a>

    <a th:if="${isSearch == true and currentPage < totalPages-1}"
       th:href="@{/search(keyword=${keyword},page=${currentPage+1})}">
        Next ➡
    </a>

</div>
</body>
</html>